{
  "presets": [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node": "current"
              }
          }
      ]
  ],
  "plugins": [
      "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}